body{
    margin: 0;
}


div{
    position: fixed;
    user-select: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
}
