body {
    margin: 0;
    background-color: black;
}

div.score {
    position: fixed;
    user-select: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
}


.score-result {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: greenyellow;
    padding: 20px;
    width: 50%;
    text-align: center;
    border-radius: 0.3em;
    height: 30%;
    line-height: 0em;
}

div h2 {
    font-size: 50px;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    

}

div p {
    font-size: 25px;
    color: orangered;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(0, 0, 0);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.4em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    transition: all 0.2s;
    margin: 10px;
    user-select: none;
}

button:hover {
    color: #FFFFFF;
    background-color: orangered;
}